/*centralizando div, margin inferior e superior 0*/
.container {
  margin: 0 auto;
  width: 960px;
  color: #264653;
}

/* line-height: 1.6, 160% em relacao a fonte*/
body {
  background: #e9c46a url(imagens/noise.png);
  font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
  line-height: 1.6;
}

/*padding espacamento dentro, margin-bottom espacamento entre os elementos*/
article {
  background-color: #fff;
  border: 1px solid #ccc;
  border-color: #ccc #999 #999 #ccc;
  margin-bottom: 20px;
  padding: 10px;
}

article h2 {
  border-bottom: 1px dashed #2a9d8f;
  margin: 0;
}

article a {
  color: #2a9d8f;
  font-weight: bold;
}

h1 a {
  color: #2a9d8f;
  text-decoration: none;
}

/*alterar a cor e fundo do titulo ao se passar o mouse
pseudo seletores: focus, visited, active*/
h1 a:hover {
  background-color: #2a9d8f;
  color: #fff;
}

article img {
  border: 1px solid #2a9d8f;
  float: left;
  margin: 10px 10px 0 0;
  padding: 2px;
}

.clear {
  clear: both;
}

footer {
  font-size: 12px;
  text-align: center;
}

aside {
  background-color: #fff;
  border: 1px solid #c9bc8f;
  float: right;
  padding: 10px;
  width: 260px;
}

aside h3 {
  font-size: 14px;
  margin-top: 0;
}

aside ol {
  font-size: 12px;
}

/*Conteudo principal*/
section {
  float: left;
  width: 660px;
}

aside a {
  color: #2c88a7;
  font-weight: bold;
}
